  body{
                margin: 0;
                padding: 0;
                height: 100vh;
                width: 100vw;
                display: flex;
            }
            #left{
                width: 51vw;
                height: 100vh;
                background-color: #0A1317;
                display: flex;
                flex-direction: column;
                border-right:solid ;
                border-width: 1px;
                border-color: #3b6c81;
            }
            #left img{
                width: 74px;
                padding-top: 50px;
                left: 0;
                padding-left: 51px;
                position: relative;
            
            }
            #text p{
                font-family: 'Nunito', sans-serif;
                font-weight: 500; 
                font-size: 2.1rem;
                line-height: 1.4;
                color: #000; 
                color: white;
                margin-top: 20px;
                line-height: 1.9;
                margin-bottom: 0px;
            }
            #img img{
                width: 350px;
            }
             #text{
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Lato', sans-serif;
                width: 100%;
                justify-content: center;
                text-align: center;
             
             }

             #close-friends {
                font-weight: bold;
                background: linear-gradient(45deg, #fa3535, #eb13bc);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
}
            #right_side_main_dive{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            #right{
                background-color: #0f1d24;
               height: 100vh;
               width:49vw;
               display: flex;
               justify-content: center;
           
            }
            #log_in_page{
                display: flex;
                width: 100vw;
            }
            #right_mian_log{
                width: 82%;
                height: 70%;
                margin-top: 12%;
            }
            #head p{
                font-size: 1.2em;
                color: white;
                 font-family: 'Nunito', sans-serif;
            }
            #body input{
            width: 100%;
            padding: 18px 6px;
            margin-bottom: 10px;
            border-radius: 15px;
            border: 1px solid #8e9396;
            font-size: 16px;
            box-sizing: border-box;
            background-color: transparent;
            padding-left: 10px;

            }
            #body input:focus{
            outline: none;
            border-color: #a8a8a8;
            background-color: transparent;
            color: white;
            font-size: 17px;
        }
        #log_in_button{
            width: 100%;
            padding-top:10px;
            padding-bottom:10px;
            border-radius:20px;
            border: none;
            color: white;
            background-color: rgba(9, 37, 161, 0.459);
            font-size: 16px;
            font-family: 'Nunito', sans-serif;
            margin-top: 15px;
        }
        #facebook img{
            width: 30px;
            margin: 0;
        }
        #facebook{
            display: flex;
            justify-content: center;
            align-items: center;
              
            font-family: 'Nunito', sans-serif;
            gap: 5px;
            width: 100%;
            padding-top:5px;
            padding-bottom:5px;
            border: solid;
            border-width: 1px;
            border-radius: 30px;
            border-color: #af9494;
            font-weight: bold;
            color: white;
        }
        #facebook p{
            margin: 0%;
        }
        #body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        } 
        #Create_new_account{
           padding-top:7px;
            padding-bottom:7px;
            border: solid;
            border-width: 1px;
            border-radius: 30px;
            background-color: transparent;
            border-color: w;
            font-family: 'Nunito', sans-serif;
            font-size: 16px;
            width: 100%;
            margin-top: 15px;
            color: blue;
            font-weight: bold;
        }     
        #forget{
            font-weight: bold;
            font-family: 'Nunito', sans-serif;
            color: white; 
        }
        #meta_icon img{
            width: 70px;
            margin-top: 20px;
            filter: brightness(0) invert(1);
        }
        #right_mian_log{
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }